<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        
        
    </head>

    <body>

        <header>
            <div class="">
                Udacity Evaluate News Articles and NLP Project
            </div>
            <div class="">
                
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return handleSubmit(event)">
                    <input id="name" type="text" name="input" value=""  placeholder="Type some sentence">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Sentiment Analysis Results:</strong>
                
                <div id="text">text:</div>
                <div id="polarity">polarity:</div>
                <div id="polarity_confidence">polarity_confidence:</div>
                <div id="subjectivity">subjectivity:</div>
                <div id="subjectivity_confidence">subjectivity_confidence:</div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>